.edit-contact-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .edit-contact-card .div {
    background-color: #ffffff;
    height: 692px;
    position: relative;
    width: 1440px;
  }
  
  .edit-contact-card .roberto-a-ginoo {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 359px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 250px;
    width: 315px;
  }
  
  .edit-contact-card .text-wrapper {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 153px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 414px;
    width: 213px;
  }
  
  .edit-contact-card .image {
    height: 50px;
    left: 92px;
    object-fit: cover;
    position: absolute;
    top: 520px;
    width: 50px;
  }
  
  .edit-contact-card .img {
    height: 50px;
    left: 92px;
    object-fit: cover;
    position: absolute;
    top: 464px;
    width: 50px;
  }
  
  .edit-contact-card .image-2 {
    height: 50px;
    left: 92px;
    object-fit: cover;
    position: absolute;
    top: 404px;
    width: 50px;
  }
  
  .edit-contact-card .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 153px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 471px;
    width: 522px;
  }
  
  .edit-contact-card .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 153px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 533px;
    white-space: nowrap;
    width: 551px;
  }
  
  .edit-contact-card .line {
    height: 424px;
    left: 782px;
    object-fit: cover;
    position: absolute;
    top: 146px;
    width: 1px;
  }
  
  .edit-contact-card .p {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 819px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 155px;
    width: 508px;
  }
  
  .edit-contact-card .image-3 {
    height: 250px;
    left: 101px;
    object-fit: cover;
    position: absolute;
    top: 146px;
    width: 250px;
  }
  
  .edit-contact-card .group {
    height: 47px;
    left: 92px;
    position: absolute;
    top: 598px;
    width: 173px;
  }
  
  .edit-contact-card .overlap-group {
    background-color: #1662f9;
    border-radius: 50px;
    height: 47px;
    position: relative;
    width: 171px;
  }
  
  .edit-contact-card .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 48px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
    white-space: nowrap;
    width: 82px;
  }
  
  .edit-contact-card .tabler-home-filled {
    height: 60px;
    left: 44px;
    position: absolute;
    top: 38px;
    width: 62px;
  }
  
  .edit-contact-card .text-wrapper-5 {
    color: #f4ce14;
    font-family: "Inter-Bold", Helvetica;
    font-size: 42px;
    font-weight: 700;
    left: 106px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 44px;
    white-space: nowrap;
    width: 175px;
  }
  
  .edit-contact-card .image-wrapper {
    background-color: #ff4141;
    border-radius: 25px;
    height: 50px;
    left: 1329px;
    position: absolute;
    top: 43px;
    width: 50px;
  }
  
  .edit-contact-card .image-4 {
    height: 35px;
    left: 8px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 35px;
  }
  