.crate-post {
  background-color: #f5f7f8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.crate-post .div {
  background-color: #f5f7f8;
  height: 1116px;
  position: relative;
  width: 1440px;
}

.crate-post .overlap {
  height: 45px;
  left: 597px;
  position: absolute;
  top: 975px;
  width: 185px;
}

.crate-post .rectangle {
  background-color: #f4ce14;
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 185px;
}

.crate-post .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 77px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
  width: 57px;
}

.crate-post .group {
  height: 60px;
  left: 96px;
  position: absolute;
  top: 42px;
  width: 767px;
}

.crate-post .tabler-home-filled {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 63px;
}

.crate-post .text-wrapper-2 {
  color: #f4ce14;
  font-family: "Inter-Bold", Helvetica;
  font-size: 42px;
  font-weight: 700;
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
  width: 177px;
}

.crate-post .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 294px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  width: 86px;
}

.crate-post .text-wrapper-4 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 473px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  width: 86px;
}

.crate-post .text-wrapper-5 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 673px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
  width: 86px;
}

.crate-post .title {
  height: 66px;
  left: 161px;
  position: absolute;
  top: 211px;
  width: 213px;
}

.crate-post .rectangle-2 {
  border: 1px solid;
  border-color: #00000040;
  box-shadow: 0px 4px 10px #00000040;
  height: 39px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 193px;
}

.crate-post .text-wrapper-6 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0.54px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 211px;
}

.crate-post .title-2 {
  height: 65px;
  left: 388px;
  position: absolute;
  top: 333px;
  width: 195px;
}

.crate-post .rectangle-3 {
  border: 1px solid;
  border-color: #00000040;
  box-shadow: 0px 4px 10px #00000040;
  height: 39px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 193px;
}

.crate-post .text-wrapper-7 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 1px;
  letter-spacing: 0.54px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 49px;
}

.crate-post .title-3 {
  height: 62px;
  left: 388px;
  position: absolute;
  top: 530px;
  width: 196px;
}

.crate-post .rectangle-4 {
  border: 1px solid;
  border-color: #00000040;
  box-shadow: 0px 4px 10px #00000040;
  height: 39px;
  left: 1px;
  position: absolute;
  top: 23px;
  width: 193px;
}

.crate-post .text-wrapper-8 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0.54px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 194px;
}

.crate-post .title-4 {
  height: 62px;
  left: 616px;
  position: absolute;
  top: 530px;
  width: 195px;
}

.crate-post .rectangle-5 {
  border: 1px solid;
  border-color: #00000040;
  box-shadow: 0px 4px 10px #00000040;
  height: 39px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 193px;
}

.crate-post .text-wrapper-9 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0.54px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 137px;
}

.crate-post .title-5 {
  height: 62px;
  left: 161px;
  position: absolute;
  top: 530px;
  width: 195px;
}

.crate-post .title-6 {
  height: 64px;
  left: 161px;
  position: absolute;
  top: 454px;
  width: 195px;
}

.crate-post .rectangle-6 {
  border: 1px solid;
  border-color: #00000040;
  box-shadow: 0px 4px 10px #00000040;
  height: 39px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 193px;
}

.crate-post .text-wrapper-10 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0.54px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 177px;
}

.crate-post .title-7 {
  height: 65px;
  left: 615px;
  position: absolute;
  top: 453px;
  width: 195px;
}

.crate-post .title-8 {
  height: 64px;
  left: 388px;
  position: absolute;
  top: 454px;
  width: 195px;
}

.crate-post .place {
  height: 65px;
  left: 161px;
  position: absolute;
  top: 333px;
  width: 195px;
}

.crate-post .text-wrapper-11 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0.54px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 125px;
}

.crate-post .address {
  height: 65px;
  left: 615px;
  position: absolute;
  top: 333px;
  width: 195px;
}

.crate-post .description-form {
  height: 275px;
  left: 161px;
  position: absolute;
  top: 605px;
  width: 649px;
}

.crate-post .rectangle-7 {
  border: 1px solid;
  border-color: #00000040;
  box-shadow: 0px 4px 10px #00000040;
  height: 243px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 647px;
}

.crate-post .description-other {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0.54px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 372px;
}

.crate-post .overlap-group {
  background-color: #d9d9d9;
  height: 37px;
  left: 1053px;
  position: absolute;
  top: 774px;
  width: 193px;
}

.crate-post .text-wrapper-12 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  width: 124px;
}

.crate-post .overlap-2 {
  height: 46px;
  left: 1199px;
  position: absolute;
  top: 57px;
  width: 99px;
}

.crate-post .rectangle-8 {
  background-color: #f4ce14;
  height: 46px;
  left: 0;
  position: absolute;
  top: 0;
  width: 95px;
}

.crate-post .text-wrapper-13 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  width: 86px;
}

.crate-post .text-wrapper-14 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 1068px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 62px;
  width: 86px;
}

.crate-post .text-wrapper-15 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 161px;
  letter-spacing: 0.54px;
  line-height: normal;
  position: absolute;
  top: 289px;
  width: 87px;
}

.crate-post .text-wrapper-16 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 159px;
  letter-spacing: 0.54px;
  line-height: normal;
  position: absolute;
  top: 171px;
  width: 211px;
}

.crate-post .text-wrapper-17 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 159px;
  letter-spacing: 0.54px;
  line-height: normal;
  position: absolute;
  top: 410px;
  width: 211px;
}

.crate-post .image {
  height: 236px;
  left: 1137px;
  object-fit: cover;
  position: absolute;
  top: 211px;
  width: 235px;
}

.crate-post .img {
  height: 200px;
  left: 878px;
  object-fit: cover;
  position: absolute;
  top: 473px;
  width: 237px;
}

.crate-post .overlap-3 {
  border: 3px solid;
  border-color: #000000;
  height: 207px;
  left: 1137px;
  position: absolute;
  top: 466px;
  width: 235px;
}

.crate-post .hugeicons-plus-sign {
  height: 111px;
  left: 63px;
  position: absolute;
  top: 48px;
  width: 103px;
}

.crate-post .image-2 {
  height: 200px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: -3px;
  width: 230px;
}
