@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.ttf") format("truetype"); /* Path relative to the public folder */
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.ttf") format("truetype"); /* Path relative to the public folder */
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
